.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-logo p {
  color: #383838;
  font-size: 46px;
  font-weight: 700;
}
.footer-links {
  display: flex;
  gap: 50px;
  list-style: none;
  font-size: 20px;
  color: #252525;
}
.footer-links li {
  cursor: pointer;
}
.footer-social-icon {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-icons-container {
  padding: 10px;
  padding-bottom: 6px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
  color: #1a1a1a;
  font-size: 20px;
}
.footer-copyright hr {
  border: none;
  width: 80%;
  border-radius: 10px;
  height: 3px;
  background-color: #c7c7c7;
}
@media (max-width: 1280px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .footer-logo p {
    color: #383838;
    font-size: 38px;
    font-weight: 600;
  }
  .footer-links {
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 16px;
    color: #252525;
  }
  .footer-links li {
    cursor: pointer;
  }
  .footer-social-icon {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .footer-icons-container {
    padding: 8px;
    padding-bottom: 4px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin-bottom: 20px;
    color: #1a1a1a;
    font-size: 16px;
  }
  .footer-copyright hr {
    border: none;
    width: 80%;
    border-radius: 10px;
    height: 3px;
    background-color: #c7c7c7;
  }
}
@media (max-width: 800px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .footer-logo p {
    color: #383838;
    font-size: 28px;
    font-weight: 600;
  }
  .footer-links {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 12px;
    color: #252525;
  }
  .footer-links li {
    cursor: pointer;
  }
  .footer-social-icon {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .footer-icons-container {
    padding: 6px;
    padding-bottom: 4px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
  }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 100%;
    margin-bottom: 15px;
    color: #1a1a1a;
    font-size: 14px;
  }
  .footer-copyright hr {
    border: none;
    width: 80%;
    border-radius: 10px;
    height: 3px;
    background-color: #c7c7c7;
  }
}
